/* Common configuration directives and settings */
@C-lGrey: #efefef;
@C-mGrey: #aaaaaa;
@C-dGrey: #333333;

@C-pastelBlue: #5F99D4;

@C-font-family: 'Georgia', serif;

@C-gutter: 8px;

.C-box-sizing-stack {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
